[package]
name = "dprint-plugin-typescript"
description = "TypeScript code formatting plugin for Dprint."
keywords = ["formatting", "formatter", "typescript"]
version = "0.19.3"
authors = ["David Sherret <dsherret@gmail.com>"]
edition = "2018"
license = "MIT"
homepage = "https://github.com/dprint/dprint-plugin-typescript"
repository = "https://github.com/dprint/dprint-plugin-typescript"

[lib]
crate-type = ["lib", "cdylib"]

[dependencies]
dprint-core = "0.22.0"
swc_common = "=0.6.0"
swc_ecma_ast = "=0.22.0"
swc_ecma_parser = "=0.26.0"
serde = { version = "1.0.88", features = ["derive"] }
serde_json = "1.0"

[dev-dependencies]
dprint-development = "0.2.2"
debug-here = "0.2"
