[package]
name = "dprint-plugin-typescript"
version = "0.65.1"
authors = ["David Sherret <dsherret@gmail.com>"]
edition = "2021"
homepage = "https://github.com/dprint/dprint-plugin-typescript"
keywords = ["formatting", "formatter", "typescript", "javascript"]
license = "MIT"
repository = "https://github.com/dprint/dprint-plugin-typescript"
description = "TypeScript and JavaScript code formatter."

[lib]
crate-type = ["lib", "cdylib"]

[profile.release]
opt-level = 3
debug = false
lto = true
debug-assertions = false
overflow-checks = false
panic = "abort"

[features]
wasm = ["serde_json", "dprint-core/wasm"]
tracing = ["dprint-core/tracing"]

[dependencies]
anyhow = "1.0.51"
deno_ast = { version = "0.13.0", features = ["view"] }
dprint-core = { version = "0.50.0", features = ["formatting"] }
rustc-hash = "1.1.0"
serde = { version = "1.0.118", features = ["derive"] }
serde_json = { version = "1.0", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
parking_lot_core = "=0.8.0" # wait on string_cache to be updated in swc

[dev-dependencies]
debug-here = "0.2"
dprint-development = "0.6.0"
serde_json = { version = "1.0" }
